@use 'scss/variables';

$cardSizeMultiplier: 50;

$cardWidth: calc(2.5px * variables.$scale * $cardSizeMultiplier);
$cardHeight: calc(3.5px * variables.$scale * $cardSizeMultiplier);

$handWidth: variables.$screenWidth;
$handHeight: calc(5px * $cardSizeMultiplier);

:export {
  screenHeight: variables.$screenHeight;
  cardWidth: $cardWidth;
  cardHeight: $cardHeight;
  handWidth: $handWidth;
  handHeight: $handHeight;
  scale: variables.$scale;
}

.card {
  position: absolute;
  width: $cardWidth;
  height: $cardHeight;
  margin: 0 5px;

  background: white;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}